@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}

	.about {
		&__container {
			padding: 0;
		}

		&__wrapper {
			max-width: 540px;
		}
	}

	.resume {
		&__wrapper {
			padding: 0;
		}
	}

	.skills {
		&__list {
			column-gap: 136px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}

	.about {
		padding-top: 60px;

		.title_fz36 {
			font-size: 30px;
		}

		&__photo {
			width: 300px;
		}

		&__wrapper {
			max-width: 380px;
		}

		&__descr {
			margin-bottom: 30px;
		}

		&__list {
			grid-template-columns: 100%;
			grid-template-rows: repeat(3, minmax(65px, auto));
			grid-auto-rows: minmax(65px, auto);
		}

		&__item {
			&-content {
				max-width: 320px;
			}
		}
	}

	.resume {
		&__wrapper {
			grid-template-columns: repeat(2, 333px);
		}
	}

	.skills {
		&__list {
			grid-template-columns: repeat(auto-fill, 300px);
			column-gap: 45px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}

	.title {
		&_fz36 {
			font-size: 36px;
		}

		&_fz48 {
			font-size: 28px;
			line-height: 39px;
		}
	}

	.divider {
		margin-top: 10px;
	}

	.about__divider {
		margin-top: 0;
	}

	.hamburger {
		&_black {
			span {
				background-color: $main-color;
			}
		}
	}

	.about {
		padding-bottom: 30px;

		&__container {
			flex-direction: column;
		}

		&__photo {
			margin-bottom: 30px;
			width: 100%;
			height: 600px;
		}

		&__wrapper {
			max-width: 100%;
		}

		&__item {
			justify-content: flex-start;

			&-icon {
				margin-right: 20px;
			}

			&-content {
				max-width: none;
			}
		}
	}

	.resume {
		padding: 30px 0;

		&__wrapper {
			grid-template-columns: 100%;
			row-gap: 30px;
			margin-top: 30px;
		}
	}

	.skills {
		padding: 30px 0;

		&__soft {
			margin-top: 30px;
		}

		&__list {
			row-gap: 40px;
			margin-top: 60px;
		}
	}
}

@media (max-width: 576px) {
	.container {
		padding: 0 10px;
		width: 100%;
	}

	.title {
		&_fz36 {
			font-size: 24px;
		}

		&_fz48 {
			font-size: 24px;
		}

		&_fz16 {
			font-size: 14px;
			line-height: 22px;
		}
	}

	.hamburger {
		right: 20px;
	}

	.menu {
		&__block {
			padding-left: 30px;
			width: 250px;
		}

		&__list {
			padding-left: 0;
		}

		&__link {
			&:before {
				display: none;
			}
		}
	}

	.promo {
		align-content: center;
		padding-top: 0;

		background-position: 55%;

		&__btns {
			margin-top: 30px;
		}
	}

	.about {
		&__photo {
			height: 340px;
		}

		.title_fz36 {
			font-size: 24px;
		}
	}

	.skills {
		.title_fz36 {
			line-height: 36px;
		}

		.divider {
			margin-top: 22px;
		}
	}
}
