.promo {
	position: relative;

	padding-top: 205px;
	min-height: 100vh;

	background: image-set(url('../img/main_bg.jpg') 1x, url('../img/main_bg@2x.jpg') 2x) no-repeat 50% / cover;

	&__title {
		margin-top: 9px;
		margin-bottom: 0;
	}

	&__subtitle {
		position: relative;
		z-index: 2;

		padding-left: 10px;

		@include before_circle;
	}

	&__title, &__subtitle {
		max-width: 720px;

		color: #FFF;
	}

	&__btns {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		width: 280px;
	}
}
