.sidepanel {
	position: fixed;
	top: 230px;
	left: 50px;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 340px;

	&__black {
		svg path {
			fill: #000;
		}

		.sidepanel__divider {
			background-color: #000;
		}

		.sidepanel__text{
			span {
				color: #000;
			}
		}
	}

	&__link {
		svg path {
			transition: fill .2s linear;
		}

		&:hover {
			svg path {
				fill: $main-color;
			}
		}
	}

	&__divider {
		width: 2px;
		height: 70px;

		background-color: #fff;
		transition: color .2s linear;
	}

	&__text {
		width: 25px;
		height: 150px;

		span {
			display: block;
			width: 154px;

			font-size: 16px;
			font-weight: 700;
			color: #fff;

			transform: rotate(-90deg) translate(-43%, -270%);
			transition: color .2s linear;
		}
	}
}
