.title {
	margin-bottom: 0;

	font-size: 36px;
	line-height: 60px;
	font-weight: 700;
	color: #000;

	&_fz14 {
		font-size: 14px;
		line-height: 21px;
	}

	&_fz16 {
		font-size: 16px;
		line-height: 24px;
	}

	&_fz20 {
		font-size: 20px;
		line-height: 30px;
	}

	&_fz36 {
		font-size: 36px;
	}

	&_fz48 {
		font-size: 48px;
	}

	&__section-title {
		text-align: center;
	}

	&__section-subtitle {
		position: relative;

		margin: 6px 0;

		text-align: center;

		@include before_circle;

		&:before {
			left: calc(50% - 18px);
		}
	}
}
